/* https://www.fontshop.com/tryout?referer=/families/ltc-cloister */

@font-face {
	font-family: Cloister;
	src: url('/fonts/cloister/regular.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Cloister;
	src: url('/fonts/cloister/light.woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Cloister Swash';
	src: url('/fonts/cloister/swash.woff');
	font-weight: 400;
	font-style: normal;
}

/* https://www.fontshop.com/tryout?referer=/families/urw-type-foundry-franklin-gothic */

@font-face {
	font-family: 'Franklin Gothic';
	src: url('/fonts/franklin-gothic-condensed/book.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Franklin Gothic';
	src: url('/fonts/franklin-gothic-condensed/demi.woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Franklin Gothic';
	src: url('/fonts/franklin-gothic/medium.woff');
	font-weight: 400;
	font-style: normal;
	font-stretch: expanded;
}

@font-face {
	font-family: 'Franklin Gothic';
	src: url('/fonts/franklin-gothic/book.woff');
	font-weight: 300;
	font-style: normal;
	font-stretch: expanded;
}

:root {
	--site-padding: 1rem;

	--font-sans: 'Franklin Gothic', sans-serif;
	--font-serif: 'Cloister', serif;

	--background-fade: 0.95;

	--color-yellow: rgb(255, 234, 184);
	--color-yellow-faded: rgb(255, 234, 184, var(--background-fade));
	--color-yellow-dark: hsl(42, 75%, 80%);
    --color-red: hsl(13, 78%, 53%);
	--color-blue: #1c60bf;
	--color-purple: #564377;
	--color-black: #222222;

	--text-color: var(--color-black);
	--link-color: var(--color-blue);
    --link-active-color: var(--color-red);
	font-size: 10px;
}

@media screen and (min-width: 720px) {
	:root {
		--site-padding: 4rem;
		font-size: 16px;
	}
}

html,
body {
	margin: 0;
	height: auto;
}

html {
	overflow: auto;
}

body {
	font-family: 'Cloister', serif;
	font-size: 2rem;
	line-height: 1.4;
	color: var(--text-color);
	background-color: var(--color-yellow);
	padding-left: var(--site-padding);
	padding-right: var(--site-padding);
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	line-height: 1.1;
	margin: 0;
}

p {
    max-width: 72ch;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.show-visited a:visited {
	color: var(--color-purple);
}

a:hover {
	opacity: 0.5;
}

.swash {
	font-family: 'Cloister Swash';
}

.font-tags {
	font-family: 'Franklin Gothic', sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.01em;
}

.blur-bg {
	position: relative;
	display: inline-block;
	background-color: var(--color-yellow-faded);
}

.blur-bg--fill {
	position: absolute;
	inset: 0;
}

.blur-bg:is(span) {
	display: inline;
}

.blur-bg:before {
	--outset: 80px;
	content: '';
	position: absolute;
	z-index: -1;
	inset: calc(-1 * var(--outset));
	border: var(--outset) solid transparent;
	border-image-source: url('/images/Gradient-Test.png');
	border-image-slice: 400;
	border-image-width: var(--outset);
	border-image-repeat: stretch;
	opacity: var(--background-fade);
	pointer-events: none;
}

/* .swash-text {
	--shadow-inset: 1px;
	--shadow-blur: 4px;
	font-family: 'Cloister Swash';
	font-size: 3em;
	line-height: 1.1;
	font-weight: 400;
	color: transparent;
	text-shadow: var(--shadow-inset) var(--shadow-inset) var(--shadow-blur) var(--color-yellow),
		0 0 0 var(--color-yellow-dark),
		var(--shadow-inset) var(--shadow-inset) var(--shadow-blur) var(--color-yellow);
} */
