@font-face {
    font-family: Cloister;
    src: url("/fonts/cloister/regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Cloister;
    src: url("/fonts/cloister/light.woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Cloister Swash";
    src: url("/fonts/cloister/swash.woff");
    font-weight: 400;
    font-style: normal;
}

:root {
    --site-padding: 4rem;

    --color-yellow: hsl(42, 100%, 86%);
    --color-yellow-dark: hsl(42, 75%, 80%);
    --color-blue: #215aab;
    --color-black: #222222;

    --background-color: var(--color-yellow);
    --accent-color: var(--color-blue);
    --text-color: var(--color-black);
}

html,
body {
    margin: 0;
}

body {
    font-family: 'Cloister', serif;
    font-size: 2rem;
    color: var(--text-color);
    background-color: var(--background-color);
    padding-left: var(--site-padding);
    padding-right: var(--site-padding);
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

.swash {
    font-family: 'Cloister Swash';
}